[2016-12-02 15:22] dogi opened #1 "create ole--vagrant-travis on 5981"
keep also in mind to fix all port using files:
-[ ]  `.travis.yml`
-[ ] `tests/*`

[2016-12-02 15:27] mepda opened #2 "Add explanation to documentation"
brainstorm docs:￼￼

https://docs.google.com/document/d/1orxRy3rtdno8IuIdJZhntLM7I6OQ8tTXwJxUN7RW6Ik/edit

[2016-12-02 15:39] dogi opened #3 "test @prmurphy 's script with base_case module"
https://github.com/prmurphy/BeLL-Apps/blob/dev/tests/login2.py

[2016-12-02 16:52] dogi commented on #1
https://github.com/dogi/ole--vagrant-travis

https://github.com/ole-vi/BeLL-Apps/commit/3edc6ccac30ba52f8165616b62b88ad654f399de

and

@aberdean fix also https://docs.google.com/document/d/1orxRy3rtdno8IuIdJZhntLM7I6OQ8tTXwJxUN7RW6Ik/edit

[2016-12-03 00:23] dogi opened #4 "give everybody access to SauseLabs account"

[2016-12-03 01:03] dogi opened #5 "create template for accessing couchdb by python"
examples at https://github.com/sente/BeLL-Apps-runner/tree/master/scripts/resources

[2016-12-03 16:55] dogi opened #6 "login save cookie go to other url by reloading it"
http://stackoverflow.com/questions/15058462/how-to-save-and-load-cookies-using-python-selenium-webdriver

[2016-12-05 09:17] mepda commented on #2
started updating this the other day, but need more clarification into the concepts.

[2016-12-06 13:15] mepda commented on #2
with help of Antonella, I was able to understand what was written in the google doc. Will continue to expand and refine it.

[2016-12-07 05:41] aberdean commented on #5
May be also helpful: https://github.com/djc/couchdb-python and https://pythonhosted.org/CouchDB/

[2016-12-07 05:56] aberdean opened #7 "create python library for frequently used functions"

[2016-12-08 12:44] aberdean opened #8 "Create logout test from logout_test template"
I wrote a template for this, which is logout_test.py located in the tests folder.

Please, read the comments within the template.

For now, the important thing is to have it working locally.

[2016-12-08 17:19] dogi commented on #4
I created a institutional account `ole-vi` - password gets given upon request ;)

If you login in and click on menu item `archive` so you can follow and look up at tests

[2016-12-08 17:19] #1 closed, assigned to aberdean, dogi

[2016-12-08 17:20] dogi commented on #1
looks like it got tested enough ... ;)

[2016-12-09 11:41] aberdean commented on #8
Included logout test in login_test.py

[2016-12-09 11:41] #8 closed, assigned to prmurphy, aberdean, mepda, FanisGk

[2016-12-09 11:52] aberdean commented on #7
created login - Usage `bell.login(driver, name, password)`
created logout - Usage `bell.logout(driver)`

[2016-12-10 05:51] aberdean opened #10 "Create test_language.py"
This will include a LanguageTest class, and a test_change_language method, that checks if the homepage is reflecting the language change.

Later on, a test_language method should be added to test languages throughout the app, beyond the homepage.

[2016-12-10 05:53] aberdean opened #11 "Create test_member"
This will include a class MemberTest, and methods add_member and delete_member.

[2016-12-10 07:03] aberdean opened #12 "Create test_calendar"
Should have a class CalendarTest.

From dashboard, click on calendar and test functionalities:
- Change view for month, week, and day.
- Use arrows to go back and forth
- Add an event
- Delete an event

** NOTE **
Right now, adding an event works on CouchDB, but not on the GUI.

[2016-12-10 07:10] aberdean opened #13 "Create test_resource"
Should have a class ResourceTest.

Go to Library, and test functionalities.
- Add New Resource
- Request Resource
- Switch to Collection
- Add 2 Collections
- Add New Resource to Collection
- Merge Collections
- Delete Resource
- Delete Collections

[2016-12-10 07:12] aberdean opened #14 "Create test_course"
Should have a class CourseTest.

- Add Course
- Request Course
- Delete Course

[2016-12-10 07:15] aberdean opened #15 "Create test_meetup.py"
Should have a class MeetupTest.

- Start a New Meetup
- Recurring Meetup and Non-recurring Meetup
- Multi-day Meetup and Single-day Meetup
- Invite Member
- Cancel Meetup

[2016-12-10 07:18] aberdean opened #16 "Create test_report"
Should have a class ReportTest.

Prereq:
Add 2 Communities and Perform Some Activity (i.e., upload resources, sync to Nation, etc.)

Tests:
- Create Report without Uploading File
- Create Report with Uploaded File
- Generate Report
- Generate Trend Activity Report
- From Dashboard click on Manager
- Click on Nation's Reports
- Add a New Report
- Generate Trend Activity Report

[2016-12-10 07:28] aberdean opened #17 "Create test_community"
Should have a class CommunityTest.

Prereq:
- Add two Communities to the Nation

Testing:
- From Dashboard, click on Manager
- Click on Communities
- Check that both Communities need approval
- Approve one Community
- Check it is correctly approved
- Go back to previous page (Manager)
- Click Requests
- Make sure you have one request
- Accept it
- Delete one Community

[2016-12-10 07:31] aberdean opened #18 "Create test_publication.py"
Should have a class PublicationTest.

Prereq:
at least 1 resource or 1 course

Tests:
- From Dashboard, click on Manager
- Click on Publications
- Add 2 Issues
- Delete Issue

[2016-12-10 07:33] aberdean opened #19 "Create test_survey"
Should have a class SurveyTest.

- From Dashboard click on Manager
- Click on Surveys
- Add 2 Surveys
- Delete Survey

[2016-12-10 10:08] aberdean opened #20 "Create test_feedback.py"
This will include a FeedbackTest class.

[2016-12-10 10:42] #4 closed, assigned to dogi

[2016-12-12 11:58] aberdean opened #23 "Devise a way to avoid is_travis() call in test_login.py"
Needs some code refactoring.

[2016-12-12 14:08] aberdean commented on #20
Posted feedback is received by whom?
Hard to test without knowing what it is supposed to do.

[2016-12-13 05:33] aberdean commented on #19
Later on, after test_member.py is done, further tests can be performed on test_survey.py.

Prereq:
- Add at least 2 members

Tests:
- Send survey to members
- Members fill up survey
- Members submit survey
- Test received survey on admin side
(possibly also further tests, check interface to find out)

[2016-12-13 09:50] #20 closed, assigned to aberdean

[2016-12-13 09:57] aberdean opened #28 "Add post-login tests to test_feedback"
Leaving this for later due to issue #23

[2016-12-13 09:59] aberdean commented on #28
Further tests:
- Login as admin
- Click on Feedback
- Click on View
- Make sure all feedback received is present
Further tests to be better defined:
- Check ways to interact with feedback (see links and/or buttons on feedback view page)

[2016-12-13 10:18] aberdean commented on #23
Worked on it repeatedly, but it still seems a tricky issue.

[2016-12-14 14:07] dogi commented on #23
in https://github.com/ole-vi/BeLL-Apps/blob/dev/tests/test_login.py

[code]

as you can see in the code sample we need right now the if then call with `is_travis()` make 2 different ways for the same test

this means we have to write 2 test, which if possible in the future we can aviod ...

[2016-12-15 10:53] aberdean opened #29 "test_login.py may need to be rewritten to actually test correct login"
I pushed a module called old_test_login.py to have a framework to build a new test_login.py in the future (see issue #23).

For now, I created a new module test_login_logout_config.py, which tests only incorrect logins, logout, and configuration (as requested by @dogi).

[2016-12-15 10:56] aberdean opened #30 "Create test_login_logout_config.py and update bell.py"
The new module test_login_logout_config.py   tests only incorrect logins, logout, and configuration (as requested by @dogi).

May be required to address issue #29 in the future.

[2016-12-15 11:24] #30 closed, assigned to aberdean

[2016-12-15 11:40] aberdean commented on #23
addressed with PR #31, substituted by issue #29

[2016-12-15 11:40] #23 closed, assigned to nobody

[2016-12-15 11:41] aberdean commented on #3
became outdated

[2016-12-15 11:42] #3 closed, assigned to prmurphy

[2016-12-15 21:43] prmurphy commented on #13
Here's what I have so far https://github.com/prmurphy/BeLL-Apps/blob/dev/tests/test_resource.py
I doubt I will be able to finish it by tonight, and I have to go the the US embassy tomorrow so I'll be quite busy most of the day. If anyone wants to help out they are more than welcome to.

[2016-12-16 17:20] FanisGk commented on #5
PR: https://github.com/ole-vi/BeLL-Apps/pull/35
So far, it creates a member via python in couchdb and then tests login

[2016-12-16 21:27] waryhermit opened #37 "[Meetup] Need 'Never' Recurring option"
Currently if you select the `Daily` or `Weekly` options there is no way to make it not recurring anymore. There should be a `Never` option so that you don't have to reload the page to select none of them.

![image](https://cloud.githubusercontent.com/assets/5189447/21279036/4d221ec4-c3ac-11e6-9f12-18afedc1cd7e.png)

[2016-12-16 23:09] #37 closed, assigned to nobody

[2016-12-19 05:51] aberdean opened #38 "Find a way to have dropdown menus working on Sauce Labs"
Any possible way to select an option from a dropdown menu seems to fail on Sauce Labs.
We need a solution for this problem before we can address some of the other issues.

[2016-12-19 10:43] aberdean commented on #10
Need fixing dropdown menu (on branch 10_language).

[2016-12-19 10:45] aberdean commented on #11
Need fixing dropdown menu.

[2016-12-19 11:54] aberdean commented on #13
Need fixing dropdown menu

[2016-12-19 11:55] aberdean commented on #38
Issues affected - #10, #11, #13

[2016-12-19 16:27] aberdean opened #39 "Create test_search_resource"
Will have a class SearchResourceTest.

Test all possible ways to search for a resource.

[2016-12-19 16:29] aberdean opened #40 "Create test_resource_type"
Will have a class ResourceTypeTest.

Check that all various types of resources (such as, PDF, audio files, video files, etc.) are correctly uploaded and can display and/or play correctly.

[2016-12-19 18:16] hikaruit15 commented on #38
I think the reason is firefox 48. It is not friendly. Downgrade its version to 47 or upgrade to 49 or 50. It will work.

[2016-12-19 18:20] hikaruit15 commented on #38
open `base_case.py` in tests directory and change version of firefox
[code]

[2016-12-19 19:09] #10 closed, assigned to aberdean

[2016-12-19 19:09] #38 closed, assigned to aberdean, hikaruit15

[2016-12-19 19:26] aberdean commented on #11
@hikaruit15 You can find the current work at branch 11_new_member

[2016-12-19 20:25] waryhermit opened #42 "Should we be implementing the Page Object Design Pattern?"
You can read about it [here on the Selenium Wiki](http://www.seleniumhq.org/docs/06_test_design_considerations.jsp#page-object-design-pattern). Seems like it would make tests more clear. We already are almost doing this with the `bell.py` file.

[2016-12-20 07:34] aberdean commented on #42
@waryhermit Yes, I had that in mind when creating `bell.py`. The only problem is that I don't want to use an object oriented approach in `bell.py` to avoid double inheritance, since we also need to inherit BaseCase in our tests.

I thought `bell.py` was a good enough compromise. What do you think?

Of course, `bell.py` needs to be extended. I am writing new functions as I come across them (i.e., a

[2016-12-21 18:24] waryhermit commented on #42
You can avoid double inheritance by separating the functionality of each page from its tests. The class for the page doesn't need to inherit `BaseCase` since it has no tests.

So each page of the bell app would be its own class, and the various tests can all use the page classes to navigate and click on things. Pretty much like this [short example on stackexchange](http://stackoverflow.com/questio

[2016-12-21 19:48] sente commented on #42
At some point in the future we'll want to implement the Page Object pattern but at the moment I think it better to focus to simple, clean, tests.

[2016-12-22 06:11] aberdean commented on #7
created get_url (returns homepage url) - Usage `bell.get_url()`

[2016-12-23 13:06] aberdean commented on #7
created goto - Usage `goto(driver, page)`

created add_member (returns (username, password) of new member or ("", "") if member already existing) - Usage `add_member(driver)` to add a random member, or `add_member(driver, first_name, last_name, middle_name, login, password, phone, email, language, birthdate, gender, level)`
Any of the parameters in add_member is optional, but if you want to skip o

[2016-12-23 13:07] aberdean commented on #2
Finished and published.

[2016-12-23 13:07] #2 closed, assigned to aberdean

[2016-12-23 13:18] aberdean commented on #11
TODO: Add member with avatar uploaded
TODO: Delete member

[2016-12-23 13:20] aberdean commented on #13
TODO:
* Add another Collection
* Add New Resource to Collection
* Merge Collections
* Delete Resource
* Delete Collections

[2016-12-23 14:24] dogi commented on #15
thanks @waryhermit

the missing info is:
- this issue is ready to be tested and
- the code is at https://github.com/ole-vi/BeLL-Apps/pull/36

[2016-12-23 20:59] waryhermit commented on #15
I addressed the issues brought up in the meeting, and made a new pull request: https://github.com/ole-vi/BeLL-Apps/pull/44

[2016-12-30 13:58] waryhermit commented on #42
@sente I think after we have more than a few tests the Page Object pattern will make our tests cleaner and simpler. If we plan to write more UI tests it would be worth implementing it now so we don't have to go back and refactor everything at a later date.

[2016-12-30 14:10] waryhermit opened #47 "Redundant Testing & Testing times"
As the number of our UI tests grows the testing time will grow quite dramatically. One way we could mitigate this is by setting up the required objects via python in the setUp function, so you don't have redundant testing of the same parts of the website. For example, for the meetup test I am working on in order to properly test the invitation feature I need members in my BeLL community. If I add

[2016-12-30 14:17] waryhermit commented on #6
@dogi I think if you specify a user folder for the webdriver it will automatically save the cookies as well.

[2016-12-30 15:13] #15 closed, assigned to waryhermit

[2016-12-30 16:02] dogi opened #48 "Investigating codeceptJS framework"
http://codecept.io/

@aberdean did already parts of it with branch https://github.com/ole-vi/BeLL-Apps/tree/codeceptjs

more docu at http://open-learning-exchange.github.io/#!pages/automatedtestingcodeceptjs.md

[2016-12-30 20:08] waryhermit opened #52 "Create Member - python CouchDB helper function"
We need a bunch of helper functions, starting with a Create Member function.

[2017-01-04 18:32] waryhermit commented on #48
@dogi I am going to try your Codecept branch locally on my computer today. After that, what else would you like done in regards to investigating codeceptjs?

[2017-01-13 16:09] #52 closed, assigned to waryhermit

[2017-01-13 19:11] dogi opened #56 "Add test title to the saucelabs links in travis log"
code of the actual link creation is executed by line 55 in https://github.com/ole-vi/BeLL-Apps/blob/dev/tests/base_case.py

[2017-01-16 00:52] waryhermit opened #57 "Mark test as pass/fail on saucelabs"
We have to tell saucelabs ourselves if the test passed or failed, codeceptjs does not support it.

Its not that hard, just a http request, [here is a curl example from the saucelabs docs:
](https://wiki.saucelabs.com/display/DOCS/Annotating+Tests+with+the+Sauce+Labs+REST+API)
[code]

[2017-01-17 22:31] waryhermit commented on #57
This is now part of the codeceptjs branch.

[2017-01-17 22:31] #57 closed, assigned to nobody

[2017-01-23 22:01] #56 closed, assigned to hikaruit15

[2017-01-24 01:41] dogi commented on #56
@hikaruit15 good job ;)

[2017-01-24 01:44] dogi commented on #48
@waryhermit and @hikaruit15 lets write kinda down where we are right now and where to we wanna go ...

[2017-01-24 02:13] dogi opened #60 "pure python test to check what is in couch"
suggest using `pycouch` something similar to curl ;P
and check against what we think should be there ...

anyhow once we know how to do that for travis think this test will simple and always the same, but in local testing it will give us the ability to fix from former tests ...

@dogi s hope is to fix local couchdb  of `ole--vagrant-travis` before the tests run, so that in a 2nd step login test ha

[2017-01-27 17:26] waryhermit commented on #60
@dogi This gives me another idea on how to approach this through codeceptjs. There are hooks available for before all tests run, could load the config there. Might be able to load cookies there too.

[2017-01-27 18:00] waryhermit commented on #60
To clarify there are sort of two issues here. We want to make the travis and local tests to face the same UI. To do this we want to make the configurations screen not appear, and we want to leave no mess or clean up any mess in the couch DB each time the tests are run.

[2017-01-28 12:46] #18 closed, assigned to prmurphy

[2017-01-29 12:48] dogi opened #62 "Avoid using the `global` statement"
https://www.quantifiedcode.com/app/project/3e98b1b587c3474486279406edc6e341/diff/000a49daa8455ed7766041f314819fdbad2c66db/8733aa6e4d1b8d83498f8d3961a1e482cf343e20/issues?groups=code_patterns%3A1hX7eguD%3Af0

[2017-02-08 17:23] waryhermit commented on #40
@mappuji  Write codeceptjs test to upload resource just like in step http://open-learning-exchange.github.io/#!pages/bellapps.md

[2017-02-10 15:10] waryhermit opened #64 "Fix login to use login and password parameters"
https://github.com/ole-vi/BeLL-Apps/blob/codeceptjs/tests/steps_file.js

[2017-02-10 15:12] waryhermit opened #65 "Make installer check multiple firefox reg keys"
Installer doesn't detect some FF installs.

[2017-02-15 22:49] waryhermit commented on #48
@dogi Right now we have login working CodeceptJS, and it also logs in with cookies if the login function has already been used. In addition it cleans the database of configurations and sets the admin visits to zero, so the configurations page is displayed each testing session.

I have implemented the first part of [test survey](https://github.com/ole-vi/BeLL-Apps/issues/19) in CodeceptJS, and when

[2017-02-15 22:52] waryhermit commented on #42
I have started using the Page Object pattern in CodeceptJS. I don't know how far I will take it. Since I started this as a discussion and I have decided to go forward with it, and this issue doesn't apply to a certain test in particular I think I will close it, unless anyone objects.

[2017-02-15 22:57] #42 closed, assigned to waryhermit

[2017-02-15 22:58] waryhermit commented on #60
@dogi Accessing couch-db within the testing framework does seems pretty doable. I wonder how much cleaning we should do, and how much we need to leave to the test writers to decide for them selves. I can imagine in some situations it might be annoying for all the databases to be wiped each testing session. You might want to go back and look at stuff to get an understanding of how your test malfunc

[2017-02-15 23:04] waryhermit commented on #7
@dogi I think we need to rethink how this issue applies to CodeceptJS. By implementing the page object pattern much more of the functionality will re-usable like this already. On the other hand, if you want to be able to do this kind of stuff by directly talking to couchdb I will have to write helpers.

@dogi Since this issue is for python mostly, do you think it would be better to close this and

[2017-02-15 23:12] waryhermit opened #67 "Improve Survey Test"
In addition to the improvements originally suggested by @aberdean, I think I should abstract the functionality of the survey pages more to make it more flexible and reusable.

[2017-02-15 23:13] waryhermit commented on #6
@dogi

I am logging with saved cookies with CodeceptJS. Does that mean this issue is resolved?

[2017-02-15 23:16] dogi commented on #60
@waryhermit this seems like one of the ways to approach this issue ;)

an other would be after install by checksum or other meaning to check the status of certain DBs and compare that with the result of an other runs of the same check with difference it was for example done after one of our tests

[2017-02-15 23:19] dogi commented on #7
@waryhermit think you are spot on - I would even say that `page object pattern` was that what we want ;)

[2017-02-15 23:23] dogi commented on #6
@waryhermit can you point to the code and an example there ;)

50% closed ;)

- [ ] python
- [x] codeceptJS

[2017-02-16 01:48] sente commented on #6
@dogi, @waryhermit --

saving cookies:

[code]

loading cookies

[code]

[2017-02-16 05:05] dogi commented on #48
@waryhermit good quesiton ;)

@dogi thinks to redirect this question to everybody

@LeonardMensah @hikaruit15 @hannahgdubin @mappuji what do you think?

Possibile tasks:
- [x] since Login works (and cleans after himself @waryhermit please confirm) we could create PR
- [ ] maybe we should also disable standard login test ...
  - without removing that python code/file
- [ ] generally the big plan is

[2017-02-16 14:41] waryhermit commented on #48
So if I understand correctly, the road map is kinda:

- Replace all python tests with codeceptjs tests on codecept branch
- Once all python tests are working in codeceptjs, make pull request to main branch
- Disable python tests in travis.yml but do not delete the files

Is that right?

[2017-02-16 14:55] waryhermit opened #68 "Find new code quality (like QuantifiedCode) tool that supports JS"
We could use a replacement since QuantifiedCode only supports python.

[2017-02-16 15:15] leomaxi commented on #65
Windows 10 path
HKEY_CURRENT_USER/SOFTWARE/Mozilla/Firefox

[2017-02-17 17:38] waryhermit opened #72 "HTML5 Resources - convert “Hello Nurse” app"
Convert this to to html app
https://drive.google.com/open?id=0Bw7aA5bLT2P9Nk9SZTliSkRYYU0

[2017-02-28 09:04] dogi opened #73 "fix travis python unittest output"
please change this output
[code]
to this
[code]

[2017-03-01 15:15] waryhermit commented on #73
I think this would be as simple as changing [line 55 of base_case.py](https://github.com/ole-vi/BeLL-Apps/blob/d111e5bbe7990b91610a106a97510bcfaa7cac32/tests/base_case.py#L55) from:
[code]
to this:
[code]

[2017-03-01 17:00] dogi commented on #73
@waryhermit awesome ;)

@dogi thinks this is a go - to make a PR

[2017-03-03 14:10] #73 closed, assigned to waryhermit

[2017-03-03 16:48] #48 closed, assigned to waryhermit, hikaruit15

[2017-03-09 02:06] dogi opened #77 "Removed duplication of code #644 break python tests"
https://github.com/open-learning-exchange/BeLL-Apps/pull/644
this time all python tests fail
[code]

https://gitter.im/open-learning-exchange/interns?at=58c0b4e7e961e53c7fbbefdc

[2017-03-09 03:09] waryhermit commented on #77
it dying on this line: https://github.com/ole-vi/BeLL-Apps/blob/dev/tests/base_case.py#L48

[2017-03-09 09:52] hikaruit15 commented on #77
I don't think they just removed the duplication of code.
I read over the code and concern some codes.
In `CommunityRequestRow.js` file:
line 12: `var centralNationUrl = App.Router.getCentralNationUrl();`
line 39: ` "target": 'http://' + centralNationUrl + '/communityregistrationrequests',`

`centralNationUrl` is a local variable in if..else statement but line 39 is not in that scope.

[2017-03-09 14:31] waryhermit commented on #77
I think there is a good chance this is because the version of selenium installed changed. If you go back to the last Travis CI build on `open-learning-exchange / BeLL-Apps` that worked it installed `selenium-3.0.2`, but on the ones that failed it installed `selenium-3.3.0`

I suggest we try forcing it to install the old version to test this idea. If it does fix it we can keep it as a fix temporary

[2017-03-09 15:22] waryhermit commented on #77
See also: https://github.com/SeleniumHQ/selenium/issues/3622

I noticed when they tired to reproduce the issue they used python 3.6 and they didn't have the problem

[2017-03-13 02:30] sarvanivadali commented on #72
Hi @waryhermit I have followed [these steps](http://open-learning-exchange.github.io/#!pages/htmlresources.md) and used Nurse application as an example. It seems to be working without any modification. Could you clarify what needs to be done?

[2017-03-14 17:06] dogi commented on #72
thanks @sarvanivadali for asking

@Chris-Boe did also give the same problem a shot

which means we now have 2 solutions ...

http://vi.ole.org:5999/apps/_design/bell/MyApp/index.html#resources/pending

for checking out both of them ;)

[2017-03-15 14:42] waryhermit commented on #77
This issue needs to be revisited when the next selenium package for Python is released, as they have fixed the issue: SeleniumHQ/selenium#3622

[2017-03-15 14:44] waryhermit commented on #5
This issue is not very specific, what functionality do we specifically require in order for this issue to be resolved?

[2017-03-15 15:03] waryhermit commented on #64
Fixed by #66

[2017-03-15 15:03] #64 closed, assigned to waryhermit

[2017-03-15 15:04] waryhermit commented on #65
Just need @leonardmensah to make sure the installer doesn't ask him to install firefox anymore

[2017-03-15 15:06] waryhermit commented on #72
@dogi So you are saying all that is left is for you to check them? Your post didn't really answer what needs to be done as far as I can tell.

[2017-03-15 15:50] empeje commented on #40
This is the PR regarding this issue https://github.com/ole-vi/BeLL-Apps/pull/82

[2017-03-15 16:08] empeje commented on #68
I need some clarifications regarding this enhancement plan.

1. Are we need a code quality tool which supports both Python and JavaScript or if I could suggest a code quality tools which only supports JS as QuantifiedCode compliment is okay?

I have some experience with this scenario for JS development:

- In every programmer workspace/IDE/Text Editor should installed with JSLint (for common JS) o

[2017-03-15 18:39] dogi commented on #77
awesome

[2017-03-15 18:43] dogi commented on #5
@waryhermit right - not very specific - but my reasoning was mostly to point to `pycouch` library and examples to it

in the end we already kinda did this by creating an adding member function ...

- [ ] adding resource(s)
- [ ] change start language
- [ ] ...

[2017-03-15 18:48] dogi commented on #68
@mappuji  [SideKickJS](https://sidekickcode.com/) is a good tip

[2017-03-15 18:51] dogi commented on #72
@waryhermit I already checked them and there is some tiny difference ;)

[2017-03-15 19:07] waryhermit commented on #72
@dogi So what do they need to fix???

[2017-03-17 15:14] empeje commented on #68
@dogi let me do a deep research about that then

[2017-03-17 15:17] empeje commented on #62
Interesting, I will take a look to this

[2017-03-20 11:44] empeje opened #83 "NPM error in Travis build"
@dogi found a problem with npm in travis.

You can see all the Travis log here https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds
The problem is particularly in these build:

1. https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds/212871860
2. https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds/212886784
3. https://travis-ci.org/open-learning-exchange/BeLL-Apps/builds

[2017-03-23 19:04] waryhermit opened #84 "Improve Travis CI build stability"
We have had a streak of Travis CI build errors, must of which have not been code issues but configuration and dependency issues.

- [x] [**IMPLEMENTED**] We can mitigate random npm errors somewhat with the following two ideas:
  - [x] Make Travis cache the npm packages by adding the following to the travis.yml:
[code]
  - [x] change `npm install ...` to `travis_retry npm install ...` which will re

[2017-03-23 19:15] waryhermit opened #85 "Consolidate and improve vagrant files."
We can make multiple vm's per vagrant file and then we can write `vagrant up vi-nation` or `vagrant up vi-community`, etc. See [here for an example](http://www.thisprogrammingthing.com/2015/multiple-vagrant-vms-in-one-vagrantfile/)

Once we have consolidated all the vagrant stuff together, I would like to make the virtual intern package an option on the inno installer I have already made.

[2017-03-23 19:19] waryhermit opened #86 "Upgrade to couchdb 2.0"
http://couchdb.apache.org/

[2017-03-23 19:22] waryhermit opened #87 "Figure out how we are going to test community - nation setup"
How are we going to setup nation community to test things like syncing and sending surveys?

First thought is just run multiple vagrant vms - see https://github.com/ole-vi/BeLL-Apps/issues/85

[2017-03-23 19:24] waryhermit commented on #47
I read that `sudo required` makes travis build slower. Why do we need `sudo required` again?

[2017-03-23 19:26] waryhermit commented on #83
Since this for the most part resolved it self, I would redirect our efforts into preventing this kind problem in the future: https://github.com/ole-vi/BeLL-Apps/issues/84

[2017-03-23 19:26] #83 closed, assigned to sente, i5o, waryhermit, sarvanivadali, empeje

[2017-03-23 19:41] waryhermit commented on #84
Might also want to make some of the script tests @dogi made to be allowed to fail: https://docs.travis-ci.com/user/customizing-the-build#Rows-that-are-Allowed-to-Fail

[2017-03-23 20:59] dogi commented on #85
@waryhermit thanks

[2017-03-24 01:01] waryhermit commented on #67
Putting this on hold until https://github.com/open-learning-exchange/BeLL-Apps/issues/670 is solved.

[2017-03-24 01:44] dogi commented on #84
@waryhermit awesome - lets do this

[2017-03-24 01:46] dogi commented on #47
@waryhermit think that `sudo required` was needed for docker

[2017-03-24 01:52] dogi commented on #86
this could help if we ever need to compile for debian ... https://hub.docker.com/r/klaemo/couchdb/~/dockerfile/

specially for `raspberry pi` ;P
- https://github.com/dogi/rpi-couchdb

[2017-03-28 21:01] Chris-Boe commented on #72
@dogi , Both @sarvanivadali and I looked at our uploads today and they both work normally. Our processes in uploading them did not differ by much. Feel free to delete the resource labelled "Nurse Application" and we could close this issue

[2017-03-29 14:46] dogi commented on #72
@Chris-Boe @sarvanivadali thanks - @leonardmensah and I 3 days ago did the same ;)
and fixed the one we better liked

[2017-03-29 14:46] #72 closed, assigned to Chris-Boe, sarvanivadali, dogi

[2017-03-30 01:03] empeje opened #94 "Indonesian Translation Vote"
Hi Team,

I have translated current text assets of BeLL for Bahasa Indonesia (Indonesian) at Crowdin. Next step is to have a vote from others who knows the language.

I know that only few people, know this language currently in this community, but this issue is a place to get started once others who knows some Indonesian to verified my translation.

Here are the link for [OLE-Crowdin](https://crow

[2017-03-30 15:06] dogi commented on #94
@mappuji very awesome

[2017-03-31 15:02] waryhermit commented on #84
Yarn doesn't intend to replace npm, more like improving on it. It uses the same package.json file, and saves dependencies to the node_modules/ folder. You can read about some of the benefits of [yarn here](http://stackoverflow.com/questions/40027819/when-to-use-yarn-over-npm-what-are-the-differences). The two features I think will make the most difference for us are:

- Deterministic: The same dep

[2017-03-31 16:12] waryhermit commented on #84
Putting all yarn stuff on hold for now since @dogi does not feel this is a good time.

[2017-03-31 17:01] waryhermit commented on #84
I am 3/4 of the way through converting all the python tests to js and adding retries.

[2017-03-31 17:03] waryhermit commented on #65
https://github.com/ole-vi/BeLL-Apps/releases/download/try19/BellApp-19-setup.exe

[2017-03-31 17:13] waryhermit commented on #77
The patch was released:

https://github.com/SeleniumHQ/selenium/blob/master/py/CHANGES
https://pypi.python.org/pypi/selenium

we can try switching back to not specifying the version.

[2017-03-31 17:14] waryhermit commented on #62
In a few days I will have converted all tests to codeceptjs - I wouldn't work on this issue.

[2017-03-31 17:17] waryhermit commented on #6
Python tests will no longer be used soon.

[2017-03-31 17:18] waryhermit commented on #11
@hikaruit15 Have you actually been working on this?

[2017-03-31 17:19] waryhermit commented on #68
@mappuji I'll see if I can get JS lint working with visual studio...

[2017-03-31 17:27] waryhermit commented on #16
Waiting on #87

[2017-03-31 17:29] waryhermit commented on #17
Waiting on #87

[2017-03-31 17:36] waryhermit commented on #28
Some feedback features do not work: https://github.com/open-learning-exchange/BeLL-Apps/issues/715

[2017-04-04 01:52] dogi opened #95 "ole--vagrant-vi: change host_ip to localhost"
... instead of 127.0.0.1 in `Vagrantfile`and check if vagrant VM in the network is accessible from remote (I mean from an other machine in the network)

repo: https://github.com/dogi/ole--vagrant-vi/blob/master/Vagrantfile

additional link:  https://github.com/mitchellh/vagrant/issues/8395

Vagrantfile
[code]

[2017-04-04 17:39] waryhermit commented on #87
@dogi Would there be any trouble with vagrant instances talking to each other? No couchdb conflicts or anything I assume.

[2017-04-04 19:20] waryhermit opened #97 "Test vagrant auto-start task on windows."
For everyone with a windows machine:

- Find and delete any existing tasks created by the install script.
- Run the following commands in an Administrator power-shell window:
[code]

- Restart your computer and check if vagrant started by running `vagrant global-status` in the correct directory.

Let me know if it works / does not work.

[2017-04-04 19:36] kylemathias commented on #97
Got this when i ran it. windows 10 pro
![image](https://cloud.githubusercontent.com/assets/26488295/24675253/530921d4-1933-11e7-9820-0b5aaaf6c2b3.png)

[2017-04-04 19:39] waryhermit commented on #97
@kylemathias I said **power-shell** window 😄

[2017-04-04 20:30] Loshi93 commented on #97
@waryhermit Got this when I ran in Windows 8
![image](https://cloud.githubusercontent.com/assets/24893117/24677203/d0f2f118-193a-11e7-9c77-1ebb4c659d70.png)

[2017-04-04 20:48] waryhermit commented on #97
@Loshma93 OK, did vagrant automatically start for you when you restarted?

[2017-04-04 21:06] Loshi93 commented on #97
@waryhermit When I enabled "vagrant up" in correct folder screen appears like this:
![image](https://cloud.githubusercontent.com/assets/24893117/24678568/dd684cfe-193f-11e7-8297-e839a0ccbf7e.png)

[2017-04-04 21:15] waryhermit commented on #97
@Loshma93 The script I had you run creates a task in the windows task scheduler that runs `vagrant up` for you every time you reboot logon to your user account. I want to know if it works for you - so when you restart sometime check by running `vagrant global-status`. If vagrant has been started and you don't need to do `vagrant up` by yourself my script works.

[2017-04-04 21:55] Loshi93 commented on #97
@waryhermit I restarted my laptop and checked vagrant global-status and it is running
![image](https://cloud.githubusercontent.com/assets/24893117/24680669/aeabfa9e-1946-11e7-9bf0-5894e1bd68c0.png)

[2017-04-04 21:56] Loshi93 commented on #97
@waryhermit But when I open Bell-Apps it says "problem loading page"
![image](https://cloud.githubusercontent.com/assets/24893117/24680720/e40cd32a-1946-11e7-95e5-ffc4f6eb2d66.png)

[2017-04-04 22:40] waryhermit commented on #97
Huh, how long did you wait? Maybe the vm was still booting?

[2017-04-04 23:03] Loshi93 commented on #97
@waryhermit It's working now
![image](https://cloud.githubusercontent.com/assets/24893117/24682742/32cd493c-1950-11e7-943f-96dab0fa9adb.png)

[2017-04-05 16:06] kylemathias commented on #97
@waryhermit lol, never used powershell =P.
![image](https://cloud.githubusercontent.com/assets/26488295/24714956/d9ba6a02-19de-11e7-9ca5-5d3623852beb.png)

ill restart and try MyBell. BTW my vagrant status has always said "Up" when i check its status, but when i run MyBell it gives the 404. I Usually have to tell it "vagrant up" for it to work.

[2017-04-05 16:12] kylemathias commented on #97
I restarted it and it works.
![image](https://cloud.githubusercontent.com/assets/26488295/24715358/ea121552-19df-11e7-8f24-fc94812ef94c.png)

[2017-04-06 00:49] paulbert commented on #97
Worked for me on Windows 10 Home.

[2017-04-06 05:52] dogi commented on #87
@waryhermit yes - no problems there

[2017-04-07 00:41] waryhermit opened #98 "Some pointless rambling for Friday"
# Some pointless rambling
I have been trying to do a better job managing lately, and I wanted write down some of my feelings.

### Overview of my feelings

1. The project feels cluttered, disorganized and lacking clear direction.
2. Its hard for me to figure out what issues are affecting end users or our ability to help people the most. I think my impression is clouded by what affects me and those

[2017-04-07 07:36] Ebuka-Chibueze commented on #97
Worked for me on Windows 10 as well.

[2017-04-07 16:00] waryhermit commented on #98
Regarding point 1 we are making the changes I suggested, except perhaps we are thinking more about merging the two BeLL-App repositories.

For point 2 we plan to make making issues / feedback part of the first steps for interns, and there was some talk about making a page listing the feedback we have got through the bell-apps / meetings with remote deployments. Not sure how @dogi felt about making

[2017-04-07 17:21] waryhermit opened #99 "Make Nation BeLL step use VIP links in first steps"
Instead of giving them the username and password for an admin account @dogi made a VIPlink that will let them view the communities. We should use this link instead: http://vi.ole.org:5999/apps/_design/bell/nation/index.html#listCommunityPage/f13c64f8d9abb8db9f1f454eed003ee3

[2017-04-07 17:23] waryhermit opened #100 "Add information about sending publications to aspiring interns to the orientation doc"

[2017-04-07 17:31] waryhermit commented on #98
I would love to hear other peoples inputs as well. 💬

[2017-04-07 19:53] Ebuka-Chibueze commented on #97
@waryhermit Btw I was kinda confused by

Wouldn't it make more sense to tell us to run `vagrant global-status`?

[2017-04-07 20:08] waryhermit commented on #97
@Ebuka-Chibueze It was a typo, thanks for catching it. I wonder why it didn't work on @sarvanivadali computer, it seems to be working for other people...

[2017-04-10 16:59] yssdnj opened #101 "Suggestion: Add an "forget password?" in the login page"
In case someone(administrator or member) forgets his or her password. I suggest adding a "Forget Password?" in the login page.

[2017-04-10 17:24] dogi commented on #99
@waryhermit thanks ;)

[2017-04-10 17:26] dogi commented on #100
we should maybe start by making some screenshots ...

[2017-04-10 17:36] dogi commented on #101
@yssdnj thanks

there is already an issue open for that https://github.com/open-learning-exchange/BeLL-Apps/issues/629

[2017-04-10 17:36] #101 closed, assigned to nobody

[2017-04-14 01:40] #19 closed, assigned to waryhermit

[2017-04-17 06:41] dogi commented on #97
@waryhermit as we decided your change is a go

[2017-04-17 21:36] #94 closed, assigned to empeje

[2017-04-18 19:56] waryhermit commented on #97
@dogi see https://github.com/dogi/ole--vagrant-vi/pull/22/files

[2017-04-19 00:09] dogi commented on #97
@waryhermit https://github.com/dogi/ole--vagrant-vi/commit/d85e31512fff8629d07a289f0ce2f1c19c2ed227

[2017-04-19 00:09] dogi commented on #97
it is live now ;)

[2017-04-20 19:23] waryhermit opened #104 "Every test is called "login_test" on suacelabs for some reason"
When you watch them they do the correct test, but the name is wrong for some reason.

[2017-04-21 14:44] waryhermit commented on #13
Fixed by #96

[2017-04-21 14:44] #13 closed, assigned to waryhermit

[2017-04-21 14:45] waryhermit commented on #29
Fixed by #96

[2017-04-21 14:45] #29 closed, assigned to waryhermit

[2017-04-21 14:52] waryhermit commented on #5
There are good examples in my code for interacting with couchdb in https://github.com/ole-vi/BeLL-Apps/blob/dev/tests/codeceptjs-init.js

We will create specific issues for situations where we need to modify couchdb directly

[2017-04-21 14:52] #5 closed, assigned to nobody

[2017-04-21 14:52] #6 closed, assigned to nobody

[2017-04-21 14:52] #7 closed, assigned to nobody

[2017-04-21 14:54] waryhermit commented on #77
We are phasing out python tests anyway

[2017-04-21 14:54] #77 closed, assigned to nobody

[2017-04-21 15:10] #62 closed, assigned to nobody

[2017-04-21 15:20] waryhermit commented on #65
This issue is fixed, but there is another one with curl

[2017-04-21 15:20] #65 closed, assigned to leomaxi

[2017-04-21 16:00] waryhermit opened #106 "Comment out pip commants in travis.yml"

[2017-04-21 18:15] waryhermit commented on #104
This is because of the line **name** in `codecept.conf.js`
[code]
Can't fix it until I know how to get a tests name when it finishes:
https://github.com/Codeception/CodeceptJS/issues/486

[2017-05-18 00:17] waryhermit commented on #104
The codeceptjs devs have responded at https://github.com/Codeception/CodeceptJS/issues/486 if anyone wants to work on this.

[2017-05-18 00:45] waryhermit commented on #106
This issue has been fixed

[2017-05-18 00:45] #106 closed, assigned to waryhermit

[2017-05-18 00:50] waryhermit commented on #86
Seems like it would be a good idea to get the VI nation / community pair on Couchdb 2.0 as soon as possible, so there is a good amount of time to find problems before production stuff is switched.

[2017-05-18 00:51] waryhermit commented on #97
Its live

[2017-05-18 00:51] #97 closed, assigned to dogi

[2017-05-18 00:52] waryhermit commented on #99
This shouldn't take very long to implement - someone should do it before someone approves themselves again - see https://github.com/open-learning-exchange/open-learning-exchange.github.io/issues/631

[2017-05-18 00:53] waryhermit commented on #98
This can be closed unless someone wants to comment.

[2017-05-30 19:08] #98 closed, assigned to dogi

[2018-03-29 07:24] timbergfreund commented on #104
have you found a solution so far? @waryhermit